canvas{
    background-color: white;
}
.btn{margin-left:1%;margin-bottom: 0px;margin-top: 20px;border:none;outline:none;background-color:black}
.drawing{margin-left: 0%;background-color: rgb(82, 60, 4);;}
 .drawing-btn,.clean-btn,.save-btn{margin-bottom: 10px;margin-top: 9px;}