 <div class="drawing">
    <!-- <div class="container">
        <div class="row"> --> 
            <div class="canv col-md-12">
             <button id="addCircle" class="btn rounded text-light">add circle</button>   
             <button id="addRect" class="btn rounded text-light">add Rectangle</button>   
             <button id="addTract" class="btn rounded text-light">add Triangle</button>
             <button id="addParallel" class="btn rounded text-light">add Parallel rectangles</button>

             <button id="addImage" class="btn rounded text-light">add Image</button>         
              
             <button id="addpolygon" class="btn rounded text-light">add Polygon</button>                  
    <button id="addFonts" class="btn rounded text-light">add Text</button>                  
    <button id="addCurve" class="btn rounded text-light">add Line</button> 
    <button id="CopySelected" class="btn rounded text-light">Copy Selected</button> 
    <button id="PasteSelected" class="btn rounded text-light">Paste Selected</button> 
    
    <button id="drawingModeEl" class="btn drawing-btn rounded text-light">drawing Mode</button> 

    <button id="Clean" class="btn clean-btn rounded text-light">Clean</button>                                   

             <canvas id="c"></canvas>
             <button id="Save" class="btn save-btn rounded text-light">Save Image</button>                  

        <!-- </div></div> -->
    </div> 
</div>
