   <!-- start footer -->
   <div class="footer">
    <div class="container">
        <div class="row">
            <div class="four f1 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h2 class="four-h2">Our Contacts</h2>
                <div class="line"></div>
                <p class="four-p">Street Name & Number</p>
                <p class="four-p">mail@example.com</p>

                <p class="four-p">Company Name</p>
                <p class="four-p">Town, Zip Code</p>
                <p class="four-p">0101010101010</p>

            </div>

            <div class="four f2 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h2 class="four-h2">Quick Links</h2>
                <div class="line"></div>

                <p class="four-p"><i class="fas fa-building"></i>home</p>
                <p class="four-p"><i class="fas fa-address-card"></i>about</p>
                <p class="four-p"><i class="fas fa-bookmark"></i>blog</p>
                <p class="four-p"><i class="fas fa-phone-square"></i>contact</p>
                <p class="four-p"><i class="fas fa-phone-square"></i>Portfolio</p>

            </div>
            <div class="four f3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h2 class="four-h2">From The Blog</h2>
                <div class="line"></div>

                <h3>Lorem Ipsum Dolor</h3>
                <p class="four-p">Lorem Ipsum is simply dum text of the printing and typesetting industry.</p>
                <p class="four-p">Friday, 6th April 2016</p>

                <ul class="footer-ul">
                    <li class="icc"><a><i class="fa fa-facebook footer-icon" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-youtube footer-icon" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-yahoo footer-icon" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-twitter footer-icon" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-youtube footer-icon" aria-hidden="true"></i></a></li>
                    <div class="clear-fix"></div>

                </ul>

            </div>

            <div class="four f4 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h2 class="four-h2">Keep In Touch</h2>
                <div class="line"></div>

                <div class="four-part1">
                    <div class="four-data">
                        <h2 class="four-data-h2">07</h2>
                        <p class="four-data-p1">Jan<br>2020</p>
                    </div>
                    <div class="four-para">
                        <p class="four-data-p2">Duis vestibulum quis quam vel accumsan</p>
                    </div>
                    <div class="clear-fix"></div>

                </div>
            
            </div>

        </div>
        <div class="right">
            <p>

            </p>
        </div>
    </div>

</div>
<div class="clearfix"></div>
<div class="scroll">
    <a href="#" class="scrollToTop">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </a></div>
<!-- end footer -->
