<div class="nav">
    <div class="container text-light">
        <div class="row">
            <div class="col-md-2 py-2">
                <!-- <h5>Movie</h5> -->
                <img class="img-fluid" src="assets/images/movie-logo.jpg">
            </div>
            <div class="col-md-6 ml-8 m-auto py-2">
                <ul class="list-unstyled d-flex  justify-content-center">
                    <li class="mr-4"><a routerLink='/login'>Login</a></li>
                    <li><a routerLink='/register'>Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>