<app-navbar></app-navbar>
<div class="header text-light">
    <div class="overlay">
        <div class="container-para">
    <p>For Entirtenment View Movies Here & Draw any Thing</p>
   <a routerLink="/view"><button class="btn">View Movies</button></a> 
   <a routerLink="/draw"><button class="btn">Draw</button></a>
    </div></div>
</div>
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 py-4">
                <img src="assets/images/movie.jpg" class="img-fluid">
            </div>
            <div class="col-md-6 text-light my-6">
                <p>A group of contest winners arrive at an island hotel to live out their dreams, only to find themselves trapped in nightmare scenarios
                    A group of contest winners arrive at an island hotel to live out their dreams, only to find themselves trapped in nightmare scenarios
                    
                </p>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-light my-6">
                <p>A group of contest winners arrive at an island hotel to live out their dreams, only to find themselves trapped in nightmare scenarios</p>
            </div>
            <div class="col-md-4">
                <img src="assets/images/movie-about.jpg" class="img-fluid">
            </div>

        </div>
    </div>

</div>
<app-footer></app-footer>