body{margin:0;padding: 0;}
.header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(src/assets/images/2.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    animation: slideleft 500s infinite linear;
    -webkit-animation: slideleft 1000s infinite linear;
}
@keyframes slideleft {
    from {background-position: 0%;}
    to {background-position: 90000%;}
}
.head{ 
    width: 34%;
    position: relative;
    margin-left: 32%;
    background: rgba(202, 200, 200, 0.5);
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 15px 30px 30px;
    box-shadow: -1px 4px 28px 0px rgba(105, 105, 105, 0.75);
    -moz-box-shadow:  -1px 4px 28px 0px rgba(105, 105, 105, 0.75);
    -webkit-box-shadow: -1px 4px 28px 0px rgba(105, 105, 105, 0.75);
    -o-box-shadow: -1px 4px 28px 0px rgba(105, 105, 105, 0.75);
    -ms-box-shadow:  -1px 4px 28px 0px rgba(105, 105, 105, 0.75);
}
.head h5{
    color:rgb(82, 60, 4);
        margin-top: 29px; 
       margin-left: 10px;
       font-size: 27px;
}
.head input[type=email],.head input[type=password],.head input[type=text]{
    border:none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    outline: none;
    height: 40px;
    width: 50%;
    color:black;
    padding: 10px;
    margin-top: 20px;
    display: 16px;
    margin-left: 30px;

}
.head input,.head select{padding-top: 36px;
}
::placeholder{
    color:rgb(66, 66, 66);
  
}
.head span{color:rgb(93, 93, 93)}
form select{
    border:none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    outline: none;
    height: 40px;
    color:black;
    display: 16px;
    width: 50%;
    color:rgb(66, 66, 66);

    margin-left: 30px;  
}
.count{
    width: 170px;
}
.gend{
    width: 170px;
}
.country{
    width: 400px;
}
form select option{
    background: rgb(66, 66, 66);
    color:  white;
    border: none;
}
.btn-btn-info{
    border-radius: 25px;
    height: 45px;
    width:400px;
    border: none;
    background-color: rgb(82, 60, 4);
      color: white;
     transition: all .5s ease-in;
}
.btn-btn-info:hover{
    background-color: rgb(82, 60, 4);
    color: white;
}
.gend , .country{
    border-bottom: 1px solid rgb(82, 60, 4);
    background-color: transparent;
    outline: none;
    height: 40px;
    color:black;
    display: 16px;  
}
@media (max-width: 767px ){/* mobile & tablet*/
    .head {
        width: 75%;
        margin-left: 6%;
    }
}
@media (min-width: 768px) and (max-width:991px){ /* small screen */ 
    .head {
        width: 56%;
        margin-left: 15%;
    }
}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */
   

}